.section-form {
    /*background-color: #c9dce8;*/
    background-color: aliceblue;
    border: 1px solid;
    border-radius: 10px;
    border-color: midnightblue;
}
.section-historico {
    /*background-color: #c9dce8;*/
    background-color: bisque;
    border: 1px solid;
    border-radius: 10px;
    border-color: darkorange;
}

.section-historico p {
    color: darkgreen;
    font-family: monospace;
}